useDynLib(ramwas)
importFrom(methods, setRefClass)
exportPattern("^[[:alpha:]]+")

importFrom("graphics", "abline", "legend", "lines", "par", "plot", "points", "title")
importFrom("methods", "new")
importFrom("stats", "complete.cases", "pf", "pt", "qf", "qt", "optim")
importFrom("utils", "flush.console", "tail", "tail.matrix")
importFrom("GenomicAlignments", "cigarWidthAlongQuerySpace", "cigarWidthAlongReferenceSpace")
importFrom("Rsamtools", "scanBamFlag", "ScanBamParam", "BamFile", "open.BamFile", "scanBam")
importFrom("snow", "makeCluster", "clusterEvalQ", "clusterApplyLB", "stopCluster")